[submodule "siggraph/2024/zombie"]
	path = siggraph/2024/Walkin’ Robin: Walk on Stars With Robin Boundary Conditions
	url = git@github.com:rohan-sawhney/zombie.git
[submodule "siggraph/2024/mfs-chol"]
	path = siggraph/2024/Lightning-Fast Method of Fundamental Solutions
	url = https://gitlab.inria.fr/geomerix/public/mfs-chol.git
[submodule "siggraph/2024/Solid Knitting"]
	path = siggraph/2024/Solid Knitting
	url = git@github.com:textiles-lab/solid-knitting-ui.git
[submodule "siggraph/2024/Bilateral Guided Radiance Field Processing"]
	path = siggraph/2024/Bilateral Guided Radiance Field Processing
	url = git@github.com:yuehaowang/bilarf.git
[submodule "tro/Kimera-Multi: Robust, Distributed, Dense Metric-Semantic SLAM for Multi-Robot Systems"]
	path = tro/Kimera-Multi: Robust, Distributed, Dense Metric-Semantic SLAM for Multi-Robot Systems
	url = git@github.com:MIT-SPARK/Kimera-Multi.git
[submodule "tro/Active Learning of Dynamics for Data-Driven Control Using Koopman Operators"]
	path = tro/Active Learning of Dynamics for Data-Driven Control Using Koopman Operators
	url = git@github.com:i-abr/active-learning-koopman.git
[submodule "tro/ORB-SLAM: A Versatile and Accurate Monocular SLAM System"]
	path = tro/ORB-SLAM: A Versatile and Accurate Monocular SLAM System
	url = git@github.com:raulmur/ORB_SLAM.git
[submodule "cvpr/2024/Rich Human Feedback for Text-to-Image Generation"]
	path = cvpr/2024/Rich Human Feedback for Text-to-Image Generation
	url = git@github.com:google-research-datasets/richhf-18k.git
[submodule "cvpr/2024/pixelSplat: 3D Gaussian Splats from Image Pairs for Scalable Generalizable 3D Reconstruction"]
	path = cvpr/2024/pixelSplat: 3D Gaussian Splats from Image Pairs for Scalable Generalizable 3D Reconstruction
	url = git@github.com:dcharatan/pixelsplat.git
[submodule "cvpr/2024/Mip-Splatting: Alias-free 3D Gaussian Splatting"]
	path = cvpr/2024/Mip-Splatting: Alias-free 3D Gaussian Splatting
	url = git@github.com:autonomousvision/mip-splatting.git
[submodule "cvpr/2024/BioCLIP: A Vision Foundation Model for the Tree of Life"]
	path = cvpr/2024/BioCLIP: A Vision Foundation Model for the Tree of Life
	url = git@github.com:Imageomics/bioclip.git
[submodule "cvpr/2024/SpiderMatch: 3D Shape Matching with Global Optimality and Geometric Consistency"]
	path = cvpr/2024/SpiderMatch: 3D Shape Matching with Global Optimality and Geometric Consistency
	url = git@github.com:paul0noah/spider-match.git
[submodule "cvpr/2024/Rich Feature Hierarchies for Accurate Object Detection and Semantic Segmentation"]
	path = cvpr/2024/Rich Feature Hierarchies for Accurate Object Detection and Semantic Segmentation
	url = git@github.com:rbgirshick/rcnn.git
[submodule "tro/RACER: Rapid Collaborative Exploration with a Decentralized Multi-UAV System"]
	path = tro/RACER: Rapid Collaborative Exploration with a Decentralized Multi-UAV System
	url = git@github.com:SYSU-STAR/RACER.git
[submodule "tro/ORB-SLAM3: An Accurate Open-Source Library for Visual, Visual-Inertial and Multi-Map SLAM"]
	path = tro/ORB-SLAM3: An Accurate Open-Source Library for Visual, Visual-Inertial and Multi-Map SLAM
	url = git@github.com:UZ-SLAMLab/ORB_SLAM3.git
[submodule "tro/Distributed Certifiably Correct Pose-Graph Optimization"]
	path = tro/Distributed Certifiably Correct Pose-Graph Optimization
	url = git@github.com:mit-acl/dpgo.git
[submodule "tro/Teach-Repeat-Replan: A Complete and Robust System for Aggressive Flight in Complex Environments"]
	path = tro/Teach-Repeat-Replan: A Complete and Robust System for Aggressive Flight in Complex Environments
	url = git@github.com:HKUST-Aerial-Robotics/Teach-Repeat-Replan.git
[submodule "tro/Deep Drone Racing: From Simulation to Reality With Domain Randomization"]
	path = tro/Deep Drone Racing: From Simulation to Reality With Domain Randomization
	url = git@github.com:uzh-rpg/sim2real_drone_racing.git
[submodule "tro/VINS-Mono: A Robust and Versatile Monocular Visual-Inertial State Estimator"]
	path = tro/VINS-Mono: A Robust and Versatile Monocular Visual-Inertial State Estimator
	url = git@github.com:HKUST-Aerial-Robotics/VINS-Mono.git
[submodule "cvpr/2023/Visual Programming: Compositional visual reasoning without training"]
	path = cvpr/2023/Visual Programming: Compositional visual reasoning without training
	url = git@github.com:allenai/visprog.git
[submodule "cvpr/2023/Planning-oriented Autonomous Driving"]
	path = cvpr/2023/Planning-oriented Autonomous Driving
	url = git@github.com:OpenDriveLab/UniAD.git
[submodule "cvpr/2023/DynIBaR: Neural Dynamic Image-Based Rendering"]
	path = cvpr/2023/DynIBaR: Neural Dynamic Image-Based Rendering
	url = git@github.com:google/dynibar.git
[submodule "cvpr/2023/3D Registration with Maximal Cliques"]
	path = cvpr/2023/3D Registration with Maximal Cliques
	url = git@github.com:zhangxy0517/3D-Registration-with-Maximal-Cliques.git
[submodule "cvpr/2023/DreamBooth: Fine Tuning Text-to-Image Diffusion Models for Subject-Driven Generation"]
	path = cvpr/2023/DreamBooth: Fine Tuning Text-to-Image Diffusion Models for Subject-Driven Generation
	url = git@github.com:google/dreambooth.git
[submodule "siggraph/2023/Split-Lohmann Multifocal Displays"]
	path = siggraph/2023/Split-Lohmann Multifocal Displays
	url = git@github.com:Image-Science-Lab-cmu/SplitLohmann.git
[submodule "siggraph/2023/Globally Consistent Normal Orientation for Point Clouds by Regularizing the Winding-number Field"]
	path = siggraph/2023/Globally Consistent Normal Orientation for Point Clouds by Regularizing the Winding-number Field
	url = git@github.com:Xrvitd/GCNO.git
[submodule "siggraph/2023/3D Gaussian Splatting for Real-time Radiance Field Rendering"]
	path = siggraph/2023/3D Gaussian Splatting for Real-time Radiance Field Rendering
	url = git@github.com:graphdeco-inria/gaussian-splatting.git
