[submodule "siggraph/2024/zombie"]
	path = siggraph/2024/Walkin’ Robin: Walk on Stars With Robin Boundary Conditions
	url = git@github.com:rohan-sawhney/zombie.git
[submodule "siggraph/2024/mfs-chol"]
	path = siggraph/2024/Lightning-Fast Method of Fundamental Solutions
	url = https://gitlab.inria.fr/geomerix/public/mfs-chol.git
[submodule "siggraph/2024/Solid Knitting"]
	path = siggraph/2024/Solid Knitting
	url = git@github.com:textiles-lab/solid-knitting-ui.git
[submodule "siggraph/2024/Bilateral Guided Radiance Field Processing"]
	path = siggraph/2024/Bilateral Guided Radiance Field Processing
	url = git@github.com:yuehaowang/bilarf.git
[submodule "tro/Kimera-Multi: Robust, Distributed, Dense Metric-Semantic SLAM for Multi-Robot Systems"]
	path = tro/Kimera-Multi: Robust, Distributed, Dense Metric-Semantic SLAM for Multi-Robot Systems
	url = git@github.com:MIT-SPARK/Kimera-Multi.git
[submodule "tro/Active Learning of Dynamics for Data-Driven Control Using Koopman Operators"]
	path = tro/Active Learning of Dynamics for Data-Driven Control Using Koopman Operators
	url = git@github.com:i-abr/active-learning-koopman.git
[submodule "tro/ORB-SLAM: A Versatile and Accurate Monocular SLAM System"]
	path = tro/ORB-SLAM: A Versatile and Accurate Monocular SLAM System
	url = git@github.com:raulmur/ORB_SLAM.git
