[submodule "siggraph/2024/zombie"]
	path = siggraph/2024/Walkin’ Robin: Walk on Stars With Robin Boundary Conditions
	url = git@github.com:rohan-sawhney/zombie.git
[submodule "siggraph/2024/mfs-chol"]
	path = siggraph/2024/Lightning-Fast Method of Fundamental Solutions
	url = https://gitlab.inria.fr/geomerix/public/mfs-chol.git
[submodule "siggraph/2024/Solid Knitting"]
	path = siggraph/2024/Solid Knitting
	url = git@github.com:textiles-lab/solid-knitting-ui.git
[submodule "siggraph/2024/Bilateral Guided Radiance Field Processing"]
	path = siggraph/2024/Bilateral Guided Radiance Field Processing
	url = git@github.com:yuehaowang/bilarf.git
[submodule "tro/Kimera-Multi: Robust, Distributed, Dense Metric-Semantic SLAM for Multi-Robot Systems"]
	path = robotics and automation/tro/Kimera-Multi: Robust, Distributed, Dense Metric-Semantic SLAM for Multi-Robot Systems
	url = git@github.com:MIT-SPARK/Kimera-Multi.git
[submodule "tro/Active Learning of Dynamics for Data-Driven Control Using Koopman Operators"]
	path = robotics and automation/tro/Active Learning of Dynamics for Data-Driven Control Using Koopman Operators
	url = git@github.com:i-abr/active-learning-koopman.git
[submodule "tro/ORB-SLAM: A Versatile and Accurate Monocular SLAM System"]
	path = robotics and automation/tro/ORB-SLAM: A Versatile and Accurate Monocular SLAM System
	url = git@github.com:raulmur/ORB_SLAM.git
[submodule "cvpr/2024/Rich Human Feedback for Text-to-Image Generation"]
	path = computer vision/cvpr/2024/Rich Human Feedback for Text-to-Image Generation
	url = git@github.com:google-research-datasets/richhf-18k.git
[submodule "cvpr/2024/pixelSplat: 3D Gaussian Splats from Image Pairs for Scalable Generalizable 3D Reconstruction"]
	path = computer vision/cvpr/2024/pixelSplat: 3D Gaussian Splats from Image Pairs for Scalable Generalizable 3D Reconstruction
	url = git@github.com:dcharatan/pixelsplat.git
[submodule "cvpr/2024/Mip-Splatting: Alias-free 3D Gaussian Splatting"]
	path = computer vision/cvpr/2024/Mip-Splatting: Alias-free 3D Gaussian Splatting
	url = git@github.com:autonomousvision/mip-splatting.git
[submodule "cvpr/2024/BioCLIP: A Vision Foundation Model for the Tree of Life"]
	path = computer vision/cvpr/2024/BioCLIP: A Vision Foundation Model for the Tree of Life
	url = git@github.com:Imageomics/bioclip.git
[submodule "cvpr/2024/SpiderMatch: 3D Shape Matching with Global Optimality and Geometric Consistency"]
	path = computer vision/cvpr/2024/SpiderMatch: 3D Shape Matching with Global Optimality and Geometric Consistency
	url = git@github.com:paul0noah/spider-match.git
[submodule "cvpr/2024/Rich Feature Hierarchies for Accurate Object Detection and Semantic Segmentation"]
	path = computer vision/cvpr/2024/Rich Feature Hierarchies for Accurate Object Detection and Semantic Segmentation
	url = git@github.com:rbgirshick/rcnn.git
[submodule "tro/RACER: Rapid Collaborative Exploration with a Decentralized Multi-UAV System"]
	path = robotics and automation/tro/RACER: Rapid Collaborative Exploration with a Decentralized Multi-UAV System
	url = git@github.com:SYSU-STAR/RACER.git
[submodule "tro/ORB-SLAM3: An Accurate Open-Source Library for Visual, Visual-Inertial and Multi-Map SLAM"]
	path = robotics and automation/tro/ORB-SLAM3: An Accurate Open-Source Library for Visual, Visual-Inertial and Multi-Map SLAM
	url = git@github.com:UZ-SLAMLab/ORB_SLAM3.git
[submodule "tro/Distributed Certifiably Correct Pose-Graph Optimization"]
	path = robotics and automation/tro/Distributed Certifiably Correct Pose-Graph Optimization
	url = git@github.com:mit-acl/dpgo.git
[submodule "tro/Teach-Repeat-Replan: A Complete and Robust System for Aggressive Flight in Complex Environments"]
	path = robotics and automation/tro/Teach-Repeat-Replan: A Complete and Robust System for Aggressive Flight in Complex Environments
	url = git@github.com:HKUST-Aerial-Robotics/Teach-Repeat-Replan.git
[submodule "tro/Deep Drone Racing: From Simulation to Reality With Domain Randomization"]
	path = robotics and automation/tro/Deep Drone Racing: From Simulation to Reality With Domain Randomization
	url = git@github.com:uzh-rpg/sim2real_drone_racing.git
[submodule "tro/VINS-Mono: A Robust and Versatile Monocular Visual-Inertial State Estimator"]
	path = robotics and automation/tro/VINS-Mono: A Robust and Versatile Monocular Visual-Inertial State Estimator
	url = git@github.com:HKUST-Aerial-Robotics/VINS-Mono.git
[submodule "cvpr/2023/Visual Programming: Compositional visual reasoning without training"]
	path = computer vision/cvpr/2023/Visual Programming: Compositional visual reasoning without training
	url = git@github.com:allenai/visprog.git
[submodule "cvpr/2023/Planning-oriented Autonomous Driving"]
	path = computer vision/cvpr/2023/Planning-oriented Autonomous Driving
	url = git@github.com:OpenDriveLab/UniAD.git
[submodule "cvpr/2023/DynIBaR: Neural Dynamic Image-Based Rendering"]
	path = computer vision/cvpr/2023/DynIBaR: Neural Dynamic Image-Based Rendering
	url = git@github.com:google/dynibar.git
[submodule "cvpr/2023/3D Registration with Maximal Cliques"]
	path = computer vision/cvpr/2023/3D Registration with Maximal Cliques
	url = git@github.com:zhangxy0517/3D-Registration-with-Maximal-Cliques.git
[submodule "cvpr/2023/DreamBooth: Fine Tuning Text-to-Image Diffusion Models for Subject-Driven Generation"]
	path = computer vision/cvpr/2023/DreamBooth: Fine Tuning Text-to-Image Diffusion Models for Subject-Driven Generation
	url = git@github.com:google/dreambooth.git
[submodule "siggraph/2023/Split-Lohmann Multifocal Displays"]
	path = siggraph/2023/Split-Lohmann Multifocal Displays
	url = git@github.com:Image-Science-Lab-cmu/SplitLohmann.git
[submodule "siggraph/2023/Globally Consistent Normal Orientation for Point Clouds by Regularizing the Winding-number Field"]
	path = siggraph/2023/Globally Consistent Normal Orientation for Point Clouds by Regularizing the Winding-number Field
	url = git@github.com:Xrvitd/GCNO.git
[submodule "siggraph/2023/3D Gaussian Splatting for Real-time Radiance Field Rendering"]
	path = siggraph/2023/3D Gaussian Splatting for Real-time Radiance Field Rendering
	url = git@github.com:graphdeco-inria/gaussian-splatting.git
[submodule "siggraph/2023/Word-as-image for Semantic Typography"]
	path = siggraph/2023/Word-as-image for Semantic Typography
	url = git@github.com:Shiriluz/Word-As-Image.git
[submodule "siggraph/2023/Learning Physically Simulated Tennis Skills From Broadcast Videos"]
	path = siggraph/2023/Learning Physically Simulated Tennis Skills From Broadcast Videos
	url = git@github.com:nv-tlabs/vid2player3d.git
[submodule "siggraph/2023/Min-Deviation-Flow in Bi-directed Graphs for T-Mesh Quantization"]
	path = siggraph/2023/Min-Deviation-Flow in Bi-directed Graphs for T-Mesh Quantization
	url = git@github.com:cgg-bern/libSatsuma.git
[submodule "icra/2024/Goal Masked Diffusion Policies for Unified Navigation and Exploration"]
	path = robotics and automation/icra/2024/Goal Masked Diffusion Policies for Unified Navigation and Exploration
	url = git@github.com:robodhruv/visualnav-transformer.git
[submodule "icra/2024/Open X-Embodiment: Robotic Learning Datasets and RT-X"]
	path = robotics and automation/icra/2024/Open X-Embodiment: Robotic Learning Datasets and RT-X
	url = git@github.com:google-deepmind/open_x_embodiment.git
[submodule "icra/2024/TinyMPC: Model-Predictive Control on Resource-Constrained Microcontrollers"]
	path = robotics and automation/icra/2024/TinyMPC: Model-Predictive Control on Resource-Constrained Microcontrollers
	url = git@github.com:TinyMPC/TinyMPC.git
[submodule "icra/2024/POLITE: Preferences Combined with Highlights in Reinforcement Learning"]
	path = robotics and automation/icra/2024/POLITE: Preferences Combined with Highlights in Reinforcement Learning
	url = git@github.com:holken/polite.git
[submodule "icra/2024/A Trajectory-based Flight Assistive System for Novice Pilots in Drone Racing Scenario"]
	path = robotics and automation/icra/2024/A Trajectory-based Flight Assistive System for Novice Pilots in Drone Racing Scenario
	url = git@github.com:ZJU-FAST-Lab/Assistive-Racing.git
[submodule "icra/2024/Under Pressure: Learning-Based Analog Gauge Reading in the Wild"]
	path = robotics and automation/icra/2024/Under Pressure: Learning-Based Analog Gauge Reading in the Wild
	url = git@github.com:ethz-asl/analog_gauge_reader.git
[submodule "icra/2024/VLFM: Vision-Language Frontier Maps for Semantic Navigation"]
	path = robotics and automation/icra/2024/VLFM: Vision-Language Frontier Maps for Semantic Navigation
	url = git@github.com:bdaiinstitute/vlfm.git
[submodule "icra/2024/CoFRIDA: Self-Supervised Fine-Tuning for Human-Robot Co-Painting"]
	path = robotics and automation/icra/2024/CoFRIDA: Self-Supervised Fine-Tuning for Human-Robot Co-Painting
	url = git@github.com:cmubig/Frida.git
[submodule "icra/2024/MateRobot: Material Recognition in Wearable Robotics for People with Visual Impairments"]
	path = robotics and automation/icra/2024/MateRobot: Material Recognition in Wearable Robotics for People with Visual Impairments
	url = git@github.com:JunweiZheng93/MATERobot.git
[submodule "icra/2024/Efficient and Accurate Transformer-Based 3D Shape Completion and Reconstruction of Fruits for Agricultural Robots"]
	path = robotics and automation/icra/2024/Efficient and Accurate Transformer-Based 3D Shape Completion and Reconstruction of Fruits for Agricultural Robots
	url = git@github.com:PRBonn/TCoRe.git
[submodule "icra/2024/CalliRewrite: Recovering Handwriting Behaviors from Calligraphy Images without Supervision"]
	path = robotics and automation/icra/2024/CalliRewrite: Recovering Handwriting Behaviors from Calligraphy Images without Supervision
	url = git@github.com:LoYuXr/CalliRewrite.git
[submodule "icra/2024/Universal Visual Decomposer: Long-Horizon Manipulation Made Easy"]
	path = robotics and automation/icra/2024/Universal Visual Decomposer: Long-Horizon Manipulation Made Easy
	url = git@github.com:zcczhang/UVD.git
[submodule "icra/2024/SeqTrack3D: Exploring Sequence Information for Robust 3D Point Cloud Tracking"]
	path = robotics and automation/icra/2024/SeqTrack3D: Exploring Sequence Information for Robust 3D Point Cloud Tracking
	url = git@github.com:aron-lin/seqtrack3d.git
[submodule "icra/2024/Co-Design Optimisation of Morphing Topology and Control of Winged Drones"]
	path = robotics and automation/icra/2024/Co-Design Optimisation of Morphing Topology and Control of Winged Drones
	url = git@github.com:ami-iit/paper_bergonti_2024_icra_codesign-morphing-drones.git
[submodule "icra/2024/FC-Planner: A Skeleton-guided Planning Framework for Fast Aerial Coverage of Complex 3D Scenes"]
	path = robotics and automation/icra/2024/FC-Planner: A Skeleton-guided Planning Framework for Fast Aerial Coverage of Complex 3D Scenes
	url = git@github.com:HKUST-Aerial-Robotics/FC-Planner.git
[submodule "icra/2024/Spatial Assisted Human-Drone Collaborative Navigation and Interaction through Immersive Mixed Reality"]
	path = robotics and automation/icra/2024/Spatial Assisted Human-Drone Collaborative Navigation and Interaction through Immersive Mixed Reality
	url = git@github.com:arplaboratory/mri_ros_public.git
[submodule "icra/2023/DexGraspNet: A Large-Scale Robotic Dexterous Grasp Dataset for General Objects Based on Simulation"]
	path = robotics and automation/icra/2023/DexGraspNet: A Large-Scale Robotic Dexterous Grasp Dataset for General Objects Based on Simulation
	url = git@github.com:PKU-EPIC/DexGraspNet.git
[submodule "icra/2023/Learning from Physical Human Feedback: An Object-Centric One-Shot Adaptation"]
	path = robotics and automation/icra/2023/Learning from Physical Human Feedback: An Object-Centric One-Shot Adaptation
	url = git@github.com:Alvinosaur/opa.git
[submodule "icra/2023/Interactive Object Segmentation in 3D Point Clouds"]
	path = robotics and automation/icra/2023/Interactive Object Segmentation in 3D Point Clouds
	url = git@github.com:theodorakontogianni/InterObject3D.git
[submodule "icra/2023/Learning-Based Initialization of Trajectory Optimization for Path-Following Problems of Redundant Manipulators"]
	path = robotics and automation/icra/2023/Learning-Based Initialization of Trajectory Optimization for Path-Following Problems of Redundant Manipulators
	url = git@github.com:MinsungYoon/RL-ITG.git
[submodule "icra/2023/Grounding Language with Visual Affordances Over Unstructured Data"]
	path = robotics and automation/icra/2023/Grounding Language with Visual Affordances Over Unstructured Data
	url = git@github.com:mees/hulc2.git
[submodule "icra/2023/GMCR: Graph-Based Maximum Consensus Estimation for Point Cloud Registration"]
	path = robotics and automation/icra/2023/GMCR: Graph-Based Maximum Consensus Estimation for Point Cloud Registration
	url = git@github.com:RoboTac-BMW/GMCR.git
[submodule "icra/2023/FRIDA: A Collaborative Robot Painter with a Differentiable, Real2Sim2Real Planning Environment"]
	path = robotics and automation/icra/2023/FRIDA: A Collaborative Robot Painter with a Differentiable, Real2Sim2Real Planning Environment
	url = git@github.com:cmubig/Frida.git
[submodule "siggraph/2022/CLIPasso: Semantically Aware Object Sketching"]
	path = siggraph/2022/CLIPasso: Semantically Aware Object Sketching
	url = git@github.com:yael-vinker/CLIPasso.git
[submodule "siggraph/2022/Instant Neural Graphics Primitives with a Multiresolution Hash Encoding"]
	path = siggraph/2022/Instant Neural Graphics Primitives with a Multiresolution Hash Encoding
	url = git@github.com:NVlabs/instant-ngp.git
[submodule "siggraph/2022/Spelunking the Deep: Guaranteed Queries on General Neural Implicit Surfaces"]
	path = siggraph/2022/Spelunking the Deep: Guaranteed Queries on General Neural Implicit Surfaces
	url = git@github.com:nmwsharp/neural-implicit-queries.git
[submodule "siggraph/2022/DeepPhase: Periodic Autoencoders for Learning Motion Phase Manifolds"]
	path = siggraph/2022/DeepPhase: Periodic Autoencoders for Learning Motion Phase Manifolds
	url = git@github.com:sebastianstarke/AI4Animation.git
[submodule "siggraph/2022/Joint Neural Phase Retrieval and Compression for Energy- and Computation-efficient Holography on the Edge"]
	path = siggraph/2022/Joint Neural Phase Retrieval and Compression for Energy- and Computation-efficient Holography on the Edge
	url = git@github.com:HoloCompress/DPRC.git
[submodule "siggraph/2022/Sparse Ellipsometry: Portable Acquisition of Polarimetric SVBRDF and Shape With Unstructured Flash Photography"]
	path = siggraph/2022/Sparse Ellipsometry: Portable Acquisition of Polarimetric SVBRDF and Shape With Unstructured Flash Photography
	url = git@github.com:KAIST-VCLAB/SparseEllipsometry.git
[submodule "siggraph/2022/Computational Design of High-level Interlocking Puzzles"]
	path = siggraph/2022/Computational Design of High-level Interlocking Puzzles
	url = git@github.com:Linsanity81/High-LevelPuzzle.git
[submodule "siggraph/2022/Umbrella Meshes: Volumetric Elastic Mechanisms for Freeform Shape Deployment"]
	path = siggraph/2022/Umbrella Meshes: Volumetric Elastic Mechanisms for Freeform Shape Deployment
	url = git@github.com:EPFL-LGG/UmbrellaMesh_release_v1.git
[submodule "siggraph/2022/Sketch2Pose: Estimating a 3D Character Pose From a Bitmap Sketch"]
	path = siggraph/2022/Sketch2Pose: Estimating a 3D Character Pose From a Bitmap Sketch
	url = git@github.com:kbrodt/sketch2pose.git
[submodule "siggraph/2022/Towards Practical Physical-optics Rendering"]
	path = siggraph/2022/Towards Practical Physical-optics Rendering
	url = git@github.com:ssteinberg/mitsuba.git
[submodule "siggraph/2022/Free2CAD: Parsing Freehand Drawings Into CAD Commands"]
	path = siggraph/2022/Free2CAD: Parsing Freehand Drawings Into CAD Commands
	url = git@github.com:Enigma-li/Free2CAD.git
[submodule "siggraph/2022/Grid-free Monte Carlo for PDEs With Spatially Varying Coefficients"]
	path = siggraph/2022/Grid-free Monte Carlo for PDEs With Spatially Varying Coefficients
	url = git@github.com:rohan-sawhney/zombie.git
[submodule "computer vision/eccv/2020/NeRF: Representing Scenes as Neural Radiance Fields for View Synthesis"]
	path = computer vision/eccv/2020/NeRF: Representing Scenes as Neural Radiance Fields for View Synthesis
	url = git@github.com:bmild/nerf.git
[submodule "computer vision/eccv/2020/Towards Streaming Perception"]
	path = computer vision/eccv/2020/Towards Streaming Perception
	url = git@github.com:mtli/sAP.git
[submodule "computer vision/eccv/RAFT: Recurrent All-Pairs Field Transforms for Optical Flow"]
	path = computer vision/eccv/2020/RAFT: Recurrent All-Pairs Field Transforms for Optical Flow
	url = git@github.com:princeton-vl/RAFT.git
[submodule "computer vision/eccv/2022/Pose-NDF: Modelling Human Pose Manifolds with Neural Distance Fields"]
	path = computer vision/eccv/2022/Pose-NDF: Modelling Human Pose Manifolds with Neural Distance Fields
	url = git@github.com:garvita-tiwari/PoseNDF.git
[submodule "computer vision/eccv/2022/On the Versatile Uses of Partial Distance Correlation in Deep Learning"]
	path = computer vision/eccv/2022/On the Versatile Uses of Partial Distance Correlation in Deep Learning
	url = git@github.com:zhenxingjian/Partial_Distance_Correlation.git
[submodule "computer vision/iccv/2021/Mip-NeRF: A Multiscale Representation for Anti-Aliasing Neural Radiance Fields"]
	path = computer vision/iccv/2021/Mip-NeRF: A Multiscale Representation for Anti-Aliasing Neural Radiance Fields
	url = git@github.com:google/mipnerf.git
[submodule "computer vision/iccv/2021/OpenGAN: Open-Set Recognition via Open Data Generation"]
	path = computer vision/iccv/2021/OpenGAN: Open-Set Recognition via Open Data Generation
	url = git@github.com:aimerykong/OpenGAN.git
[submodule "computer vision/iccv/2021/Viewing Graph Solvability via Cycle Consistency"]
	path = computer vision/iccv/2021/Viewing Graph Solvability via Cycle Consistency
	url = git@github.com:federica-arrigoni/solvability.git
[submodule "computer vision/iccv/2021/Common Objects in 3D: Large-Scale Learning and Evaluation of Real-life 3D Category Reconstruction"]
	path = computer vision/iccv/2021/Common Objects in 3D: Large-Scale Learning and Evaluation of Real-life 3D Category Reconstruction
	url = git@github.com:facebookresearch/co3d.git
[submodule "computer vision/iccv/2021/Pixel-Perfect Structure-from-Motion with Featuremetric Refinement"]
	path = computer vision/iccv/2021/Pixel-Perfect Structure-from-Motion with Featuremetric Refinement
	url = git@github.com:cvg/pixel-perfect-sfm.git
[submodule "computer vision/iccv/2021/Swin Transformer: Hierarchical Vision Transformer using Shifted Windows"]
	path = computer vision/iccv/2021/Swin Transformer: Hierarchical Vision Transformer using Shifted Windows
	url = git@github.com:microsoft/Swin-Transformer.git
[submodule "computer vision/iccv/2019/PLMP - Point-Line Minimal Problems in Complete Multi-View Visibility"]
	path = computer vision/iccv/2019/PLMP - Point-Line Minimal Problems in Complete Multi-View Visibility
	url = git@github.com:timduff35/PLMP.git
[submodule "computer vision/iccv/2019/SinGAN: Learning a Generative Model from a Single Natural Image"]
	path = computer vision/iccv/2019/SinGAN: Learning a Generative Model from a Single Natural Image
	url = git@github.com:tamarott/SinGAN.git
[submodule "computer vision/iccv/2019/Specifying Object Attributes and Relations in Interactive Scene Generation"]
	path = computer vision/iccv/2019/Specifying Object Attributes and Relations in Interactive Scene Generation
	url = git@github.com:ashual/scene_generation.git
[submodule "computer vision/iccv/2019/Larger Norm More Transferable: An Adaptive Feature Norm Approach for Unsupervised Domain Adaptation"]
	path = computer vision/iccv/2019/Larger Norm More Transferable: An Adaptive Feature Norm Approach for Unsupervised Domain Adaptation
	url = git@github.com:jihanyang/AFN.git
[submodule "computer vision/iccv/2019/Deep Hough Voting for 3D Object Detection in Point Clouds"]
	path = computer vision/iccv/2019/Deep Hough Voting for 3D Object Detection in Point Clouds
	url = git@github.com:facebookresearch/votenet.git
[submodule "computer vision/iccv/2019/Unsupervised Deep Learning for Structured Shape Matching"]
	path = computer vision/iccv/2019/Unsupervised Deep Learning for Structured Shape Matching
	url = git@github.com:LIX-shape-analysis/SURFMNet.git
[submodule "computer vision/iccv/2019/Gated2Depth: Real-time Dense Lidar from Gated Images"]
	path = computer vision/iccv/2019/Gated2Depth: Real-time Dense Lidar from Gated Images
	url = git@github.com:gruberto/Gated2Depth.git
[submodule "computer vision/iccv/2019/Local Aggregation for Unsupervised Learning of Visual Embeddings"]
	path = computer vision/iccv/2019/Local Aggregation for Unsupervised Learning of Visual Embeddings
	url = git@github.com:neuroailab/LocalAggregation.git
[submodule "computer vision/iccv/2019/Robust Change Captioning"]
	path = computer vision/iccv/2019/Robust Change Captioning
	url = git@github.com:Seth-Park/RobustChangeCaptioning.git
[submodule "computer vision/iccv/2019/Habitat: A Platform for Embodied AI Research"]
	path = computer vision/iccv/2019/Habitat: A Platform for Embodied AI Research
	url = git@github.com:facebookresearch/habitat-lab.git
